.root {
  padding: 40px 0;
  display: flex;
}

.left {
  width: 40%;
}

.right {
  margin-left: 10%;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
}

.img {
  width: 100%;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.price {
  font-size: 24px;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 10px;
}
